# System:
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Version Control Systems:
.svn
CVS
.hg
.bzr

# Local configuration file (sdk path, etc)
local.properties

# Android:
proguard/**
target/**
bin/**
obj/**
doc/**
gen/**
gdb.setup
gdbserver

# Eclipse:
.settings
.classpath
.project

# Crashlytics configuations
com_crashlytics_export_strings.xml

# Signing files
.signing/

# Android Studio
/*/*/build
/*/build
build
.idea
.gradle
gradle
/*/out
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp